<div class="container pt-4 pb-5">
  <div class="jumbotron">
    <h1 class="display-4">{{ detailsList.lableTitle }}</h1>
    <p class="lead">{{ detailsList.detailAbout }}</p>
    <hr class="my-4">
    <div class="">
      <button class="btn btn-primary btn-lg btn-wrapper" (click)="backToTiles()">
        <span class="animate-text"> Back to tiles</span>
      </button>
    </div>
  </div>
</div>
