.btn-wrapper{
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  margin: 5px;
  width: 200px;
}
.animate-text{
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}
.animate-text::after{
  content: '\0058';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: .5s;
  transition: .5s;
}
