<h1 mat-dialog-title>{{ details.lableTitle }}</h1>
<div mat-dialog-content>
    <p>{{ details.detailAbout }}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
</div>
