<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid d-flex justify-content-center text-white">
      <h6>My Responsive Grid</h6>
    </div>
  </div>
  <div class="container-fluid d-flex bg-secondary justify-content-between text-white pt-2 pb-1">
      <h6>Customize</h6>
      <i class="fa fa-pencil"></i>
  </div>
</header>

<section>
    <router-outlet></router-outlet>
</section>

<footer class="fixed-bottom bg-dark text-white text-secondary pt-1 pb-1">
  <sup class="font-italic">
    Dynamic Responsie without CSS Framework -> Develop By Lional. J.
  </sup>
</footer>



