mat-grid-tile {
  background: lightblue;
}

/* .card-wrapper:nth-child(even) {background: #db6739}
.card-wrapper:nth-child(odd) {background: #9139db}
*/
.overlay-wrapper{
  padding: 1em;
  transition: 0.3s;
  color: #333333;
}
.overlay-wrapper:hover{
  background-color: #007bff;
  color: #ffffff;
}

.intern {
  -webkit-animation: in 1s;
  animation: in 1s;
  cursor: pointer;
}

.intern:hover {
  -webkit-animation: out 1s;
  animation: out 1s;
}

@keyframes in {
  from   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes out {
  0%   { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

.info-cls{
  cursor: pointer;
}
.item-large-size{
  font-size:5em;
}

