<div class="pb-5">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 pt-3 pb-3 card-wrapper" *ngFor="let item of items">

        <div class="card-deck">
          <div class="card shadow-sm">
            <h5 class="card-header text-center">{{ item.lableTitle }}</h5>
            <div class="card-body">
              <div class="d-flex align-self-start justify-content-end">
                <i class="intern text-primary fa-2x fa" [ngClass]="(item.fab) ? 'fa-star': 'fa-star-o'" (click)="toggleFab(item)" role="button"> </i>
              </div>
              <div class="d-flex card-text align-self-center justify-content-center">
                  <div class="text-center">
                      <span class="item-large-size">{{ item.id }}</span>
                      <p>{{ item.detailAbout }}</p>
                  </div>
              </div>
            </div>
            <div class="card-footer p-0 overlay-wrapper">
                <div class="d-flex justify-content-between overlay-container p-2">
                    <div class="d-flex align-self-center info-cls" (click)="openDialog(item)">
                      <i class="fa fa-info-circle"> </i>
                    </div>
                    <div class="d-flex align-self-center">
                        <span class="" (click)="navigateDetails(item)">
                          <i class="fa fa-id-card"></i>
                        </span>
                    </div>
                  </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
